<!-- Spinner de carga -->
<div *ngIf="showSpinner" class="spinner-container">
  <div class="spinner"></div>
</div>

<!-- Main Info -->
<div class="flex" *ngIf="pokemonDetails && !loading">
  
  <div class="mainInfo block w-1/4 my-auto">
      <mainInfo [pokemonDetails]="pokemonDetails" />
  </div>

  <!-- Generations -->
  <div class="gens mx-auto my-auto">
    <generalInfo [pokemonDetails]="pokemonDetails" />
  </div>

  <!-- Evolution Chain -->
  <div class="evolutionChain block my-auto" *ngIf="pokemonDetails.species?.url">
    <evoChain
      [speciesUrl]="pokemonDetails.species.url"
      (pokemonSelected)="onPokemonSelected($event)" />
  </div>
</div>

<!-- Navigation -->
<navigation
  [pokemonDetails]="pokemonDetails"
  (loadPokemon)="fetchPokemonDetails($event)"
  />


<!-- Error handling -->
<div class="my-auto" *ngIf="!pokemonDetails && !loading">
  <div *ngIf="!initialMessage && notFound" class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">No se ha encontrado ningún Pokémon. Por favor, intenta con otro ID.</span>
    </div>
  </div>
</div>
